input[type="range"]{
     accent-color: red;
}

input[type="radio"]{
    accent-color: yellow;
}

button{
    background-color: greenyellow;
    border: 1px solid whitesmoke;
    width: 100px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
    font-family: Candara;
    font-weight: bold;
}

button:hover{
    background-color: rgb(78, 214, 78);
}